<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>Control.Reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log</servlet-name>
        <servlet-class>Control.Log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Control.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAccount</servlet-name>
        <servlet-class>Control.UserAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBalance</servlet-name>
        <servlet-class>Control.AddBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithDraw</servlet-name>
        <servlet-class>Control.WithDraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transfer</servlet-name>
        <servlet-class>Control.Transfer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/Reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log</servlet-name>
        <url-pattern>/Log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccount</servlet-name>
        <url-pattern>/UserAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBalance</servlet-name>
        <url-pattern>/AddBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithDraw</servlet-name>
        <url-pattern>/WithDraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transfer</servlet-name>
        <url-pattern>/Transfer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
